.grid {
    display: grid;
    grid:
        'header header header'
        'main main sidebar'
        'footer footer footer';
    grid-template-rows: 1fr auto 1fr;
    
    &__header {
        grid-area: header;
    }

    &__main {
        grid-area: main;
    }

    &__sidebar {
        grid-area: sidebar
    }

    &__footer {
        grid-area: footer;
    }
}