@import 'grid';

body {
    margin: 0;
    padding: 15px;
    background-color: #e4e4e4;
    color: #2c2c2c;
}

.wrapper {
    padding: 0 30px;
    background-color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    border-radius: 4px;
}

.header {
    padding: 15px 0;

    &__title {
        font-size: 40px;
        margin: 0;
        font-weight: normal;
    }
}

.main {
    margin: 0 30px 0 0;

    &__title {
        font-size: 28px;
        margin: 0 0 20px 0;
        font-weight: normal;
    }
    &__content{
        margin: 0 0 30px 0;
    }
}

.sidebar {
    &__title {
        font-size: 28px;
        margin: 0;
        font-weight: normal;
        margin-bottom: 15px;
    }

    .employee {
        &__list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &__item {
            padding: 10px 0;
        }

        &__status {
            display: inline-block;
            padding: 5px 0;
            margin-right: 15px;
            width: 40px;
            font-size: 12px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 3px;

            &.in {
                background-color: rgb(41, 179, 41);
            }

            &.out {
                background-color: rgb(255, 71, 71);
            }

            &.out+.employee__name {
                opacity: .4;
            }
        }

        &__name {}
    }
}

.footer {
    .copyright span {
        color: #666666;
        font-size: 14px;
    }
}